<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Live order book / depth chart</title>
  <link rel="stylesheet" href="../static/css/depth_style.css">
</head>

<body>

<div id="chartdiv" style="width: 800px;height:600px;"></div>

  <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/dataloader/dataloader.min.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

  <script src='https://code.jquery.com/jquery-1.11.2.min.js'></script>

  

    <script  src="../static/JS/depthchart_btcusd.js"></script>

<!--/Users/Eric/PycharmProjects/Capstone28group2/bitcoin/data/static/JS/depthchart_btcusd.js-->


</body>

</html>
