<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Insight</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Whale Discovering" />
	<meta name="keywords" content="Gdax, Bitcoin, Litecoin, Ethereum, Cryptocurrency, Whale" />
	<meta name="author" content="CryptoDW.Group28" />
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,500' rel='stylesheet' type='text/css'>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/echarts-gl@1.1.1/dist/echarts-gl.min.js"></script>
	{% load static %}
	<link rel="shortcut icon" href="favicon.ico">
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css/try1/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css/try1/icomoon.css' %}">
	<!-- Simple Line Icons -->
	<link rel="stylesheet" href="{% static 'css/try1/simple-line-icons.css' %}">
	<!-- Theme Style -->
	<link rel="stylesheet" href="{% static 'css/try1/style.css' %}">
	<!-- Modernizr JS -->
	<script src="{% static 'JS/try1/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{% static 'JS/try1/respond.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'JS/jquery-3.3.1.js' %}"></script>
	<![endif]-->
</head>
<body>
	<header id="fh5co-header" role="banner">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="navbar-header">
						<!-- Mobile Toggle Menu Button -->
						<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle visible-xs-block" data-toggle="collapse" data-target="#fh5co-navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
						<a class="navbar-brand" href="index.html">CryptoDemyth</a>
						</div>
						<div id="fh5co-navbar" class="navbar-collapse collapse">
							<ul class="nav navbar-nav navbar-right">
								<li class="active"><a href="./home"><span>Home <span class="border"></span></span></a></li>
								<li><a href="./history"><span>History <span class="border"></span></span></a></li>
								<li><a href="./realtime"><span>Realtime <span class="border"></span></span></a></li>
								<li><a href="./insight"><span>Insight <span class="border"></span></span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</header>

	<div id="fh5co-main">
		<div class="fh5co-intro text-center">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1 class="intro-lead">Whale Discovering</h1>
						<!--<p class="">100% Free HTML5 Template by <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a></p>-->
						<p class="">Help spot the whale in cryptocurrency markets, contributing in making wiser decisions. </p>
						<!--<div class="collapse navbar-collapse" id="navbar">-->
							<!--<ul class="nav navbar-nav">-->
									  <!--<li  class="dropdown"><a href="#"  class="dropdown-toggle" data-toggle="dropdown"> BTC-USD<br>select product </a>-->
									 	 <!--<ul class="dropdown-menu" id="product">-->
											<!--<li ><a href=#>BTC-USD</a></li>-->
											<!--<li ><a href=#>ETH-USD</a></li>-->
											<!--<li ><a href=#>LTC-USD</a></li>-->
											<!--&lt;!&ndash;<li><a href="#">List Sidebar</a></li>&ndash;&gt;-->
										 <!--</ul>-->
									  <!--</li>-->
							<!--</ul>-->
						<!--</div>-->
					</div>
				</div>
			</div>
		</div>
	</div>

    <div style="width: 100px; height: 100px; margin: 0 auto">
	<iframe src="http://127.0.0.2:8050/" width="1200" height="1800" scrolling="auto" frameborder="0"/>
	</div>

</body>
<footer id="fh5co-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center">
					<p>&copy; CryptoDW. All Rights Reserved. <br>Created by Group 28 </p>
				</div>
			</div>
		</div>
	</footer>
</html>