<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Insight</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Whale Discovering" />
	<meta name="keywords" content="Gdax, Bitcoin, Litecoin, Ethereum, Cryptocurrency, Whale" />
	<meta name="author" content="CryptoDW.Group28" />
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,500' rel='stylesheet' type='text/css'>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/echarts-gl@1.1.1/dist/echarts-gl.min.js"></script>
	{% load static %}
			<link rel="stylesheet" type="text/css" href="{% static 'css/banner/normalize.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/banner/htmleaf-demo.css' %}">
	<link rel="shortcut icon" href="favicon.ico">
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css/try1/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css/try1/icomoon.css' %}">
	<!-- Simple Line Icons -->
	<link rel="stylesheet" href="{% static 'css/try1/simple-line-icons.css' %}">
	<!-- Theme Style -->
	<link rel="stylesheet" href="{% static 'css/try1/style.css' %}">
	<!-- Modernizr JS -->
	<script src="{% static 'JS/try1/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{% static 'JS/try1/respond.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'JS/jquery-3.3.1.js' %}"></script>
	<![endif]-->
</head>
<!--<body>-->
	<header id="fh5co-header" role="banner">
		<canvas id="canvas" ></canvas>

		<!--<br>-->

		<div class="htmleaf-header">
			<a class="navbar-brand" href="home">CryptoDemyth</a>
			<ul class="nav navbar-nav navbar-right">
								<li class="active"><a href="./home"><span  style="color:red">Home <span class="border"></span></span></a></li>
								<li><a href="./history"><span  style="color:red" >History <span class="border"></span></span></a></li>
								<li><a href="./realtime"><span  style="color:red">Realtime <span class="border"></span></span></a></li>
								<li><a href="./insight"><span  style="color:red">Insight <span class="border"></span></span></a></li>
							</ul>
		<div id="fh5co-main">
			<div class="fh5co-intro text-center">
			<!--<div class="container">-->
				<div class="row">
					<!--<div class="col-md-8 col-md-offset-2">-->
						<h1 class="intro-lead">Whale Discovering</h1>

						<p class="">Help spot the whale in cryptocurrency markets, contributing in making wiser decisions. </p>

					<!--</div>-->
				</div>
			</div>
		</div>
	</div>

	</header>


		<!--<div align="center" style="margin:0 auto">-->
			<!--<iframe src="http://127.0.0.2:8050/?wmode=opaque" width="1200" height="1500" scrolling="auto" frameborder="0"/>-->
		<!--</div>-->

<div align="center" style="margin:0 auto;">

    <div style="width:1500px;height:1500px;overflow:hidden;border:0px">
         <div style="width:1500px;height:1500px;margin:0px 0px 0px 0px;">
              <iFrame src="http://127.0.0.2:8050/" width="1500" height="1500px" scrolling="auto" frameborder="0">
             </iFrame>
         </div>
     </div>
</div>


    <footer id="fh5co-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center">
					<p>&copy; CryptoDW. All Rights Reserved. <br>Created by Group 28 </p>
				</div>
			</div>
		</div>
	</footer>
<script src="{% static 'JS/banner.js' %}"></script>
	<!-- jQuery -->
	<script src="{% static 'JS/try1/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'JS/try1/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'JS/try1/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'JS/try1/jquery.waypoints.min.js' %}"></script>
	<!-- Main JS -->
	<script src="{% static 'JS/try1/main.js' %}"></script>
<!--</body>-->

</html>