
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,500' rel='stylesheet' type='text/css'>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/echarts-gl@1.1.1/dist/echarts-gl.min.js"></script>

	{% load static %}
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Google Webfonts -->
		<!--##<link rel="stylesheet" href="{% static 'css/try1/bootstrap.min.css' %}" type="text/css"/>-->
		<!--##<script src="{% static 'JS/try1/jquery.min.js' %}"></script>-->

	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css/try1/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css/try1/icomoon.css' %}">
	<!-- Simple Line Icons -->
	<link rel="stylesheet" href="{% static 'css/try1/simple-line-icons.css' %}">
	<!-- Theme Style -->
	<link rel="stylesheet" href="{% static 'css/try1/style.css' %}">
	<!-- Modernizr JS -->
	<script src="{% static 'JS/try1/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{% static 'JS/try1/respond.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'JS/jquery-3.3.1.js' %}"></script>
	<![endif]-->
		<!--realtime dash -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!--<link rel="stylesheet" type="text/css" href="style.css"></link>-->

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


		<!--background-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>html5 canvas动画背景 | Demo 1</title>
		<meta name="description" content="Examples for creative website header animations using Canvas and JavaScript" />
		<meta name="keywords" content="header, canvas, animated, creative, inspiration, javascript" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="{% static 'css/try2/normalize.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/try2/demo.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/try2/component.css' %}" />
		<link href='http://fonts.googleapis.com/css?family=Raleway:200,400,800' rel='stylesheet' type='text/css'>

		<!--background-->
	</head>
	<body>
		<div class="container1 demo-1">
			<div class="content">
				<div id="large-header" class="large-header">
					<canvas id="demo-canvas" ></canvas>
					<h1 class="main-title">CryptoDemyth <br></br><span class="thin"><p style="font-size:15px"> Real-time transactional data in differnet Exchanges </p></span>
					<nav class="codrops-demos" style="font-size:0.6em">
						<a href="./realtime" >Realtime</a>
						<a href="./history">History</a>
						<a href="./insight_new">Insight</a>

					</nav>
					</h1>

				</div>
				<!--<div class="codrops-header">-->
					<!--<h1>Home <span>Real-time transactional data in differnet Exchanges</span></h1>-->

					<!--<nav class="codrops-demos">-->
						<!--<a class="current-demo" href="realtime_orderbook.html">Home</a>-->
						<!--<a href="index2.html">Demo 2</a>-->
						<!--<a href="index3.html">Demo 3</a>-->
						<!--<a href="index4.html">Demo 4</a>-->
					<!--</nav>-->
				<!--</div>-->
			</div>
		</div>
		<!--<div id="fh5co-main">-->
		<!--<div class="fh5co-intro text-center">-->
			<!--<div class="container">-->
				<!--<div class="row">-->
					<!--<div class="col-md-8 col-md-offset-2">-->
						<!--<h1 class="intro-lead">Home</h1>-->
						<!--<p class=""> Real-time transactional data in differnet Exchanges </p>-->

					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--<header id="fh5co-header" role="banner">-->
		<!--<nav class="navbar navbar-default" role="navigation">-->
			<!--<div class="container">-->
				<!--<div class="row">-->
					<!--<div class="col-md-10 col-md-offset-1">-->
						<!--<div class="navbar-header"> -->
						<!--&lt;!&ndash; Mobile Toggle Menu Button &ndash;&gt;-->
						<!--<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle visible-xs-block" data-toggle="collapse" data-target="#fh5co-navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>-->
						<!--<a class="navbar-brand" href="index.html">CryptoDW</a>-->
						<!--</div>-->
						<!--<div id="fh5co-navbar" class="navbar-collapse collapse">-->
							<!--<ul class="nav navbar-nav navbar-right">-->
								<!--<li class="active"><a href="./home"><span>Home <span class="border"></span></span></a></li>-->
								<!--<li><a href="./history"><span>History <span class="border"></span></span></a></li>-->
								<!--<li><a href="./realtime"><span>Realtime <span class="border"></span></span></a></li>-->
								<!--<li><a href="./insight"><span>Insight <span class="border"></span></span></a></li>-->
							<!--</ul>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</nav>-->


	<!--</header>-->
	<!-- END .header -->
	
	


		<div id="fh5co-portfolio">
			<div class="fh5co-portfolio-item ">
				<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
				<!--<title>BTC-USD-GDAX</title>-->
				<!--<div id="main3" style="width: 800px;height:600px;">-->
				<!--</div>-->
				<!--####################3-->
				<!--<div class="fh5co-portfolio-figure animate-box" style="background-image: url(images/work_1.jpg);"></div>-->

				<!--<div class="fh5co-portfolio-description">-->
					<!--<p><a href="#" class="btn btn-primary">BTC-USD GDAX</a></p>-->
				<!--</div>-->
				<div class="fh5co-portfolio-description">
					<h2>BTC-USD</h2>
					<!--<h5>24h Change: <span id="CHANGE24HOUR_BTC"></span><span class="pct-change" id="CHANGE24HOURPCT_BTC"></span><br></h5>-->
					<h5>Last Market: <span class="exchange" id="LASTMARKET_BTC"></span> <br></h5>
					<h5>Trade ID: <span id="LASTTRADEID_BTC"></span><br></h5>
					<h5>Open Hour: <span id="OPENHOUR_BTC"></span><br></h5>
					<h5>High Hour: <span id="HIGHHOUR_BTC"></span><br></h5>
					<h5>Low Hour: <span id="LOWHOUR_BTC"></span><br></h5>
					<h5>Open Day: <span id="OPEN24HOUR_BTC"></span><br></h5>
					<h5>High Day: <span id="HIGH24HOUR_BTC"></span><br></h5>
					<h5>Low Day: <span id="LOW24HOUR_BTC"></span><br></h5>
					<h5>Last Trade Volume: <span id="LASTVOLUME_BTC"></span><br></h5>
					<h5>Last Trade Volume To: <span id="LASTVOLUMETO_BTC"></span><br></h5>
					<h5>24h Volume: <span id="VOLUME24HOUR_BTC"></span><br></h5>
					<h5>24h VolumeTo: <span id="VOLUME24HOURTO_BTC"></span><br></h5>
					<h5>Total Volume (BTC): <span id="FULLVOLUMEFROM_BTC"></span><br></h5>
					<h5>Total Volume (USD): <span id="FULLVOLUMETO_BTC"></span><br></h5>
				</div>

				<div class="fh5co-portfolio-description">
					<h2>LTC-USD</h2>

					<h5>Last Market: <span class="exchange" id="LASTMARKET_LTC"></span> <br></h5>
					<h5>Trade ID: <span id="LASTTRADEID_LTC"></span><br></h5>
					<h5>Open Hour: <span id="OPENHOUR_LTC"></span><br></h5>
					<h5>High Hour: <span id="HIGHHOUR_LTC"></span><br></h5>
					<h5>Low Hour: <span id="LOWHOUR_LTC"></span><br></h5>
					<h5>Open Day: <span id="OPEN24HOUR_LTC"></span><br></h5>
					<h5>High Day: <span id="HIGH24HOUR_LTC"></span><br></h5>
					<h5>Low Day: <span id="LOW24HOUR_LTC"></span><br></h5>
					<h5>Last Trade Volume: <span id="LASTVOLUME_LTC"></span><br></h5>
					<h5>Last Trade Volume To: <span id="LASTVOLUMETO_LTC"></span><br></h5>
					<h5>24h Volume: <span id="VOLUME24HOUR_LTC"></span><br></h5>
					<h5>24h VolumeTo: <span id="VOLUME24HOURTO_LTC"></span><br></h5>
					<h5>Total Volume (LTC): <span id="FULLVOLUMEFROM_LTC"></span><br></h5>
					<h5>Total Volume (USD): <span id="FULLVOLUMETO_LTC"></span><br></h5>
				</div>

				<div class="fh5co-portfolio-description">
					<h2>ETH-USD</h2>

					<h5>Last Market: <span class="exchange" id="LASTMARKET_ETH"></span> <br></h5>
					<h5>Trade ID: <span id="LASTTRADEID_ETH"></span><br></h5>
					<h5>Open Hour: <span id="OPENHOUR_ETH"></span><br></h5>
					<h5>High Hour: <span id="HIGHHOUR_ETH"></span><br></h5>
					<h5>Low Hour: <span id="LOWHOUR_ETH"></span><br></h5>
					<h5>Open Day: <span id="OPEN24HOUR_ETH"></span><br></h5>
					<h5>High Day: <span id="HIGH24HOUR_ETH"></span><br></h5>
					<h5>Low Day: <span id="LOW24HOUR_ETH"></span><br></h5>
					<h5>Last Trade Volume: <span id="LASTVOLUME_ETH"></span><br></h5>
					<h5>Last Trade Volume To: <span id="LASTVOLUMETO_ETH"></span><br></h5>
					<h5>24h Volume: <span id="VOLUME24HOUR_ETH"></span><br></h5>
					<h5>24h VolumeTo: <span id="VOLUME24HOURTO_ETH"></span><br></h5>
					<h5>Total Volume (ETH): <span id="FULLVOLUMEFROM_ETH"></span><br></h5>
					<h5>Total Volume (USD): <span id="FULLVOLUMETO_ETH"></span><br></h5>
				</div>
			</div>
		</div>
			<div class="fh5co-portfolio-item">
				<!--<div class="fh5co-portfolio-figure animate-box" style="background-image: url(images/work_2.jpg);"></div>-->
				<!--<div class="fh5co-portfolio-description">-->
					<!--&lt;!&ndash;<div id="main4" style="width: 900px;height:600px;"></div>&ndash;&gt;-->
					<!--<h2>ETH-USD</h2>-->

					<!--<h5>24h Change: <span id="CHANGE24HOUR_ETH"></span><span class="pct-change" id="CHANGE24HOURPCT_ETH"></span><br></h5>-->
					<!--<h5>Last Market: <span class="exchange" id="LASTMARKET_ETH"></span> <br></h5>-->
					<!--<h5>Trade ID: <span id="LASTTRADEID_ETH"></span><br></h5>-->
					<!--<h5>Open Hour: <span id="OPENHOUR_ETH"></span><br></h5>-->
					<!--<h5>High Hour: <span id="HIGHHOUR_ETH"></span><br></h5>-->
					<!--<h5>Low Hour: <span id="LOWHOUR_ETH"></span><br></h5>-->
					<!--<h5>Open Day: <span id="OPEN24HOUR_ETH"></span><br></h5>-->
					<!--<h5>High Day: <span id="HIGH24HOUR_ETH"></span><br></h5>-->
					<!--<h5>Low Day: <span id="LOW24HOUR_ETH"></span><br></h5>-->
					<!--<h5>Last Trade Volume: <span id="LASTVOLUME_ETH"></span><br></h5>-->
					<!--<h5>Last Trade Volume To: <span id="LASTVOLUMETO_ETH"></span><br></h5>-->
					<!--<h5>24h Volume: <span id="VOLUME24HOUR_ETH"></span><br></h5>-->
					<!--<h5>24h VolumeTo: <span id="VOLUME24HOURTO_ETH"></span><br></h5>-->
					<!--<h5>Total Volume (ETH): <span id="FULLVOLUMEFROM_ETH"></span><br></h5>-->
					<!--<h5>Total Volume (USD): <span id="FULLVOLUMETO_ETH"></span><br></h5>-->
				<!--</div>-->
				<!--<div id="main4" style="width: 900px;height:600px;"></div>-->
			<!--</div>-->

			<!--<div class="fh5co-portfolio-item ">-->
				<!--<div class="fh5co-portfolio-figure animate-box" style="background-image: url(images/work_3.jpg);"></div>-->
				<!--<div class="fh5co-portfolio-description">-->
					<!--<h2>Project Third</h2>-->
					<!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>-->
					<!--<p><a href="#" class="btn btn-primary">Read the casetudy</a></p>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="fh5co-portfolio-item fh5co-img-right">-->
				<!--<div class="fh5co-portfolio-figure animate-box" style="background-image: url(images/work_4.jpg);"></div>-->
				<!--<div class="fh5co-portfolio-description">-->
					<!--<h2>Project Fourth</h2>-->
					<!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>-->
					<!--<p><a href="#" class="btn btn-primary">Read the casetudy</a></p>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->

		<!--<div id="fh5co-team">-->
			<!--<div class="container">-->
				<!--<div class="row">-->
					<!--<div class="col-md-10 col-md-offset-1">-->
						<!--<div class="row">-->
							<!--<h2 class="section-lead text-center">Leadership</h2>-->
							<!--<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate">-->
								<!--<figure>-->
								<!--<img src="images/user.jpg" alt="Free HTML5 Template by FREEHTML5.co" class="img-responsive">-->
								<!--</figure>-->
								<!--<h3>Will Barrow</h3>-->
								<!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>-->
								<!--<ul class="fh5co-social">-->
									<!--<li><a href="#"><i class="icon-twitter"></i></a></li>-->
									<!--<li><a href="#"><i class="icon-github"></i></a></li>-->
								<!--</ul> 	-->
							<!--</div>-->
							<!--<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate">-->
								<!--<figure>-->
								<!--<img src="images/user_2.jpg" alt="Free HTML5 Template by FREEHTML5.co" class="img-responsive">-->
								<!--</figure>-->
								<!--<h3>Max Conversion</h3>-->
								<!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>-->
								<!--<ul class="fh5co-social">-->
									<!--<li><a href="#"><i class="icon-twitter"></i></a></li>-->
									<!--<li><a href="#"><i class="icon-github"></i></a></li>-->
								<!--</ul> 	-->
							<!--</div>-->
							<!--<div class="clearfix visible-sm-block visible-xs-block"></div>-->
							<!--<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate">-->
								<!--<figure>-->
								<!--<img src="images/user_3.jpg" alt="Free HTML5 Template by FREEHTML5.co" class="img-responsive">-->
								<!--</figure>-->
								<!--<h3>Hanson Deck</h3>-->
								<!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>-->
								<!--<ul class="fh5co-social">-->
									<!--<li><a href="#"><i class="icon-twitter"></i></a></li>-->
									<!--<li><a href="#"><i class="icon-github"></i></a></li>-->
								<!--</ul> 	-->
							<!--</div>-->
							<!--<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate">-->
								<!--<figure>-->
								<!--<img src="images/user.jpg" alt="Free HTML5 Template by FREEHTML5.co" class="img-responsive">-->
								<!--</figure>-->
								<!--<h3>Sue Shei</h3>-->
								<!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>-->
								<!--<ul class="fh5co-social">-->
									<!--<li><a href="#"><i class="icon-twitter"></i></a></li>-->
									<!--<li><a href="#"><i class="icon-github"></i></a></li>-->
								<!--</ul> 	-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->

		<!--<div id="fh5co-services">-->
			<!--<div class="container">-->
				<!--<div class="row">-->
					<!--<div class="col-md-10 col-md-offset-1">-->
						<!--<div class="row">-->
							<!--<h2 class="section-lead text-center">Features</h2>-->
							<!--<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">-->
								<!--<div class="fh5co-icon to-animate"><i class="icon-present"></i></div>-->
								<!--<div class="fh5co-desc">-->
									<!--<h3>100% Free</h3>-->
									<!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>-->
								<!--</div>	-->
							<!--</div>-->
							<!--<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">-->
								<!--<div class="fh5co-icon to-animate"><i class="icon-eye"></i></div>-->
								<!--<div class="fh5co-desc">-->
									<!--<h3>Retina Ready</h3>-->
									<!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>-->
								<!--</div>-->
							<!--</div>-->
							<!--<div class="clearfix visible-sm-block visible-xs-block"></div>-->
							<!--<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">-->
								<!--<div class="fh5co-icon to-animate"><i class="icon-crop"></i></div>-->
								<!--<div class="fh5co-desc">-->
									<!--<h3>Fully Responsive</h3>-->
									<!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>-->
								<!--</div>-->
							<!--</div>-->

							<!--<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">-->
								<!--<div class="fh5co-icon to-animate"><i class="icon-speedometer"></i></div>-->
								<!--<div class="fh5co-desc">-->
									<!--<h3>Lightweight</h3>-->
									<!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>-->
								<!--</div>	-->
							<!--</div>-->
							<!--<div class="clearfix visible-sm-block visible-xs-block"></div>-->
							<!--<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">-->
								<!--<div class="fh5co-icon to-animate"><i class="icon-heart"></i></div>-->
								<!--<div class="fh5co-desc">-->
									<!--<h3>Made with Love</h3>-->
									<!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>-->
								<!--</div>-->
							<!--</div>-->
							<!--<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">-->
								<!--<div class="fh5co-icon to-animate"><i class="icon-umbrella"></i></div>-->
								<!--<div class="fh5co-desc">-->
									<!--<h3>Eco Friendly</h3>-->
									<!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>-->
								<!--</div>-->
							<!--</div>-->
							<!--<div class="clearfix visible-sm-block visible-xs-block"></div>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->

	</div>

	<footer id="fh5co-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center">
					<p>&copy; CryptoDW. All Rights Reserved. <br>Created by Group 28 </p>
				</div>
			</div>
		</div>
	</footer>
			<!--background-->

<script src="{% static 'JS/try2/TweenLite.min.js' %}"></script>
		<script src="{% static 'JS/try2/EasePack.min.js' %}"></script>
		<script src="{% static 'JS/try2/rAF.js' %}"></script>
		<script src="{% static 'JS/try2/demo-1.js' %}"></script>
			<!--background-->
	<!-- jQuery -->
	<script src="{% static 'JS/try1/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'JS/try1/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'JS/try1/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'JS/try1/jquery.waypoints.min.js' %}"></script>
	<!-- Main JS -->
	<script src="{% static 'JS/try1/main.js' %}"></script>
	<!--<script src="{% static 'JS/charts.js' %}"></script>-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="{% static 'JS/ccc-streamer-utilities.js' %}"></script>
	<script src="{% static 'JS/stream_current.js' %}"></script>



	</body>
</html>
